<!-- Body de la pagina principal -->
<br>
<!-- Primer componente es llamado desde el componente conoceropinion  -->
<div class="shadow p-1 mb-6 bg-white justify-content-center roundedCorner">
        <div class="card border-0">
        <div class="card-body">
<div class="row text-center d-flex justify-content-center pt-5 mb-3">
        <app-conoceropinion></app-conoceropinion>      
    </div>
<br>
</div>
</div>
</div>
<!-- Segundo componente es llamado desde el componente temainteres  -->
<div class="row text-center d-flex justify-content-center pt-5 mb-3">
    <app-temasinteres></app-temasinteres>
    
</div>
 
<br>
