/* Estilos para componentes en el body */
.roundedCorner
{
  
  width:1040px;height:600px;
  border: solid 0px #555;
  background-color: #eed;
  margin-left: auto;
    margin-right: auto;
  box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  -moz-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  -webkit-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  -o-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  border-radius:8px;
}
