<!-- Footer -->
<footer class="footer-top-layout">

        <!-- Footer Links -->
        <div class="container">
                <div class="text-center py-3">
                        <h1 class="titulo"> Contáctanos</h1>
                      </div>
          <!-- Grid row-->
          <div class="row text-center d-flex justify-content-center pt-3 mb-2">
              
      
            <!-- Grid column -->
            <div class="col-md-2 mb-2">
              <h6 >
                <a href="http://localhost:4200/#!"><span class="glyphicon glyphicon-envelope" style="color:rgb(255, 255, 255)"></span></a>
                <br>
                <a style="color:rgb(255, 255, 255);" >Correo </a>
                <br>
                <a style="color:rgb(255, 255, 255);" >eléctronico </a>
              </h6>
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-2 mb-3">
                    <h6 >
                      <a href="http://localhost:4200/#!"><span class="glyphicon glyphicon-phone" style="color:rgb(255, 255, 255)"></span></a>
                      <br>
                      <a style="color:rgb(255, 255, 255);" >Regresamos  </a>
                      <br>
                      <a style="color:rgb(255, 255, 255);" >tu llamada </a>
                    </h6>
                  </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-2 mb-3">
                    <h6 >
                      <a href="http://localhost:4200/#!"><span class="glyphicon glyphicon-headphones" style="color:rgb(255, 255, 255)"></span></a>
                      <br>
                      <a style="color:rgb(255, 255, 255);" >Contacto  </a>
                      <br>
                      <a style="color:rgb(255, 255, 255);" >telefonico </a>
                    </h6>
                  </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-2 mb-3">
                    <h6 >
                      <a href="http://localhost:4200/#!"><span class="glyphicon glyphicon-earphone" style="color:rgb(255, 255, 255)"></span></a>
                      <br>
                      <a style="color:rgb(255, 255, 255);" ><Label>Llamada</Label>  </a>
                      <br>
                      <a style="color:rgb(255, 255, 255);" >web </a>
                    </h6>
                  </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-2 mb-3">
                    <h6 >
                      <a href="http://localhost:4200/#!"><span class="glyphicon glyphicon-bullhorn" style="color:rgb(255, 255, 255)"></span></a>
                      <br>
                      <a style="color:rgb(255, 255, 255);" ><Label>Redes</Label>  </a>
                      <br>
                      <a style="color:rgb(255, 255, 255);" >sociales </a>
                    </h6>
                  </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row-->
          <hr class="rgba-white-light" style="margin: 0 50%;">
      
          <!-- Grid row-->
          <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
                <div class="col-md-2 mb-3">
                        <h5 >
                            <a href="#!" style="color:rgb(255, 255, 255);"><u>Conoce a GOV.CO</u></a>
                        </h5>
                </div>
                <div class="col-md-2 mb-3">
                        <h5 >
                            <a href="#!" style="color:rgb(255, 255, 255);"><u>Términos de uso </u></a>
                        </h5>
                </div>
                <div class="col-md-2 mb-3">
                        <h5 >
                            <a href="#!" style="color:rgb(255, 255, 255);"><u>Mapa del sitio</u></a>
                        </h5>
                </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row-->
          
   
          <!-- Grid row-->
      
        </div>
        <!-- Footer Links -->
      
      
      </footer>
      <!-- Footer -->