/* Estilos para componente footer */
.footer-top-layout {
    background:rgba(51, 102, 204, 1) 0% 0% no-repeat padding-box;
    color: #ffffff;
    padding: 30px 0;
  }

  hr {
    display: block;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: auto;
    margin-right: auto;
    border-width: 0px;
  }
  
  .glyphicon {
    font-size: 25px;
}
.titulo{
  top: 2944px;
  left: 596px;
  width: 188px;
  height: 37px;
  margin-left: auto;
  margin-right: auto;
  /* transform: matrix(-1, 0, 0, -1, 0, 0); */
  text-align: center;
  font: Light 30px/22px Montserrat;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
}
  
  
  
  
  
  