/* Estilos para el componente header */
.top-navbar {
    background: #4C62D5 none repeat scroll 0 0;
    /*color: #d6d6d6;
    padding: 5px 0;
  */}
  .search-box {
    display: block;
    position: absolute;
    top: 140px;
    left: 295px;
    height: 48px;
    width: 642px;
    cursor: pointer;
    margin: 0 auto;
    border: .7px solid rgb(232, 238, 241);
    border-radius: 28px;
    color: rgb(255, 255, 255);
    text-align: left;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 1px;
    background:#FFFFFF ;
  }

  .search-box1 {
    width: 190px;
    cursor: pointer;
    margin: 0 auto;
    border: .7px solid rgb(232, 238, 241);
    border-radius: 28px;
    color: rgb(255, 255, 255);
    text-align: left;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 1px;
    background: #4C62D5;


  }
  
  .search-icon {
    width: 200px;
    padding: 5px;
    border-radius: 24px;
    float: right;
    color: whitesmoke;
   
  }
  .globe-icon {
    width: 200px;
    padding: 5px;
    border-radius: 24px;
    float: right;
    color: whitesmoke;
   
  }
  .inner-addon { 
    position: relative; 
  }

  .inner-addon1 { 
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  /* style icon */
  .inner-addon .glyphicon {
    position: absolute;
    padding: 13px;
    pointer-events: none;
  }
  .inner-addon1 .glyphicon {
    display: block;
    position: absolute;
    top: 170px;
    left: 890px;
    padding: 13px;
    pointer-events: none;
  }
  .left-addon .glyphicon  { left:  3px;}
  .right-addon .glyphicon { right: 0px;}
  .left-addon input  { padding-left:  0px; }
  .right-addon input { padding-right: 0px; }

  hr {
    display: block;
    margin-top: 0.9em;
    margin-bottom: 0.9em;
    margin-left: 3em;
    margin-right: 0.5em;
    border-style: inset;
    border-width: 0px;
  }

  .navbar {
    height: 8px;
    padding:0rem;
    margin-bottom:0rem;
    margin-top:0rem;
  }
  
  .dropdown .dropdown-menu {
    border-radius:0;
   }
  
  
  /* Medium devices (tablets, 768px and up) 
  The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {  
  .dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0;
    border-radius:0;
   }
   div, img {
    display: block;
    position: relative;
    
  }
  
  div p {
    color: whitesmoke;
    display: block;
    position: absolute;
    top: 50px;
    left: 265px;
    width: 740px;
    height: 74px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 51px;
    font-family: 'Work Sans', sans-serif;
  }
  div h1 {
    color: whitesmoke;
    display: block;
    position: absolute;
    top: 208px;
    left: 271px;
    width: 740px;
    height: 35px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 22px;
    font-family: 'Work Sans', sans-serif;
  }
  }
  