<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

		<!-- top navbar -->
		<div class="top-navbar">
                <div class="">
                  <div class="row md-12">
                      <div class= "col-md-3" align="center">
                            <img  src="../../../../assets/images/header.png">
                  </div>
                  <div class="col-md-7">
                   <div class="inner-addon right-addon search-icon">
                    <i class="glyphicon glyphicon-search "></i>
                    <input type="text" placeholder="Buscar" class="form-control search-box1" />
                </div>
                
            </div>
            <div class="col-sm-0">
                    <div align='center'>
                        <hr>
                            <a href="http://localhost:4200/"><span class="glyphicon glyphicon-globe" style="color:rgb(255, 255, 255)"></span></a>
                            <a href="http://localhost:4200/"><span class="glyphicon glyphicon-user" style="color:rgb(255, 255, 255)"></span></a>
                            <a style="color:rgb(255, 255, 255);"> Iniciar Sesión</a>
                   
                           </div>
                           
               
              </div>
           
            
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-md ">
        <!-- segunda nav contiene los menus para navegacion -->
        <div class="navbar-toggler-right">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>
        </div>
      
        <div class="collapse navbar-collapse flex-column " id="navbar">
      
          <ul class="navbar-nav  w-100 justify-content-center px-3">
            <li class="nav-item active">
              <a class="nav-link" href="#">TRÁMITES Y SERVICIOS <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                    <a class="nav-link" href="#">PATICIPACIÓN <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                        <a class="nav-link" href="#">ENTIDADES <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item active">
                            <a class="nav-link" href="#">NOTICIAS <span class="sr-only">(current)</span></a>
                          </li>
          </ul>
      

        </div>
      
      </nav>

      <div>
        <!-- Imagen de bandera con buscador -->
          <img src="../../../../assets/images/2nueva-bandera--agosto.png">
          <p>¡Te damos la bienvenida!</p>
          <div class="inner-addon1 right-addon search-icon1">
              <input type="text" placeholder="Encuentra aquí lo que buscas" class="form-control search-box" />
          </div>
          <h1>Toda la oferta del Estado colombiano a tu alcance</h1>
        </div>



<!-- end top navbar-->
