<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Noto+Sans|Roboto+Mono|Work+Sans:400,700&display=swap" rel="stylesheet">
<!-- Componente de queremos tu opinion -->
<div class="card mb-10 border-0">
        <div class="card-body">
                <div class="col-sm-8">
                    <div class="card mb-9 border-0">
                    <div class="card-body">
                   
                        <h4 class="titulotarjeta" align="left"> Queremos conocer tu opinión</h4>
                        <div class="col-sm-7"> 
                    <div class="primercuadro">
                        <h3 class="subtitulo">Falta un día</h3>
                    </div>
                    <h3 class="subtitulo1">Únete al Pacto por Colombia!</h3>
                </div>
                    <div class="col-sm-7"> 
                    <h3 class="subtitulo2">Presidencia de la República</h3>
                    
                </div>
                <div class="col-sm-4"> 
                
                        <h3 class="subtitulo3">534 colombianos participando</h3>
                    </div> 
                </div>
                <hr>
                </div>
                <div class="card mb-9 border-0">
                        <div class="card-body">
                       
                            <div class="col-sm-7"> 
                        <div class="segundocuadro">
                            <h3 class="subtitulo">Activo!</h3>
                        </div>
                        <h3 class="subtitulo1">¿Cómo mejorarías nuestro sistema de transporte?</h3>
                    </div>
                        <div class="col-sm-7"> 
                        <h3 class="subtitulo2">Secretaría de Movilidad de Bogotá</h3>
                        
                    </div>
                    <div class="col-sm-4"> 
                    
                            <h3 class="subtitulo3">87 colombianos participando</h3>
                        </div> 
                    </div>
                    <hr>
                    </div>
                    <div class="card mb-9 border-0">
                            <div class="card-body">
                           
                                <div class="col-sm-10"> 
                            <div class="tercercuadro">
                                <h3 class="subtitulo">Conoce los resultados</h3>
                            </div>
                            <h3 class="subtitulo1">Los datos y visualizaciones del gobierno interesantes para su uso, aprovechamiento y toma de decisiones.</h3>
                        </div>
                            <div class="col-sm-12"> 
                            <h3 class="subtitulo2">Ministerio de las Tecnologías de la Información y las Comunicaciones</h3>
                            
                        </div>
                        
                        
                        </div>
                        <hr>
                        
                        </div>
                        <h4 class="finaltext" align="right" style="color:rgb(55, 114, 255);" > Conocer otros ejercicios de participación <a href="http://localhost:4200/"><span class="glyphicon glyphicon-arrow-right" style="color:rgb(76, 108, 214)"></span></a></h4>
                        
               

    
            </div>
<!-- Componente de cuentados  -->
                <div class="col-sm-4">
                        <div class="shadow p-1 mb-6 bg-white  roundedCorner">
                                <div class="card mb-6 border-0">
                                        <div class="card-body">
                                            <h4 class="titulotarjeta2" align="left">Cuéntanos</h4>
                                            <h5 class="texto" align="left">¿Como podemos mejorar GOV.CO?</h5>
                                            <h6 class="subtexto" align="left">Estamos contruyendo este espacio para ti y tu opinión nos ayud a crecer.</h6>
                                        </div>
                                </div>
                                            <div class="row text-center d-flex justify-content-center pt-3 mb-2 ">
                                            <div class="shadow p-1 mb-6  roundedCornerText">
                                    <textarea placeholder="Escribe aqui tu opinión"  cols=34 rows=8 s name="" (keyup)="onKey($event)" style="border: none;"  maxlength=255
                                    ></textarea>
                                    <hr>
                                    <div class="col-sm4">
                                            <span class="alert" style="margin:auto;">{{checkmax}}</span>
                                    </div>
                                    <div class="col-sm4">
                                    <span class="contador">{{maximocont}}</span>
                                </div>
                            </div>
                            </div>
                            <br>                            
                            <button type="button" class="boton_personalizado">Enviar mi opinión</button>
                        </div>
                </div>
        </div>
</div>

