/* Estilos para componentes de conocer opinion */

/* Estilos para titulo de la tarjeta */
.titulotarjeta {
    width: 614px;
    height: 12px;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    letter-spacing: 0;
    color: rgba(11, 69, 127, 1);
    opacity: 1;
}
/* Estilos para subtitulo de la tarjeta */
.titulotarjeta2 {
    top: 1005px;
    left: 854px;
    width: 329px;
    height: 30px;
    text-align: left;
    letter-spacing: 0;
    color: rgba(11, 69, 127, 1);
    text-transform: capitalize;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    opacity: 1;
}
/* Estilos para contedenor color */
.primercuadro{
    width: 246px;
    height: 17px;
    background: rgba(243, 86, 31, 1) 0% 0% no-repeat padding-box;
    opacity: 1; 
}
/* Estilos para contedenor color */
.segundocuadro{
    width: 246px;
    height: 17px;
    background: rgba(6, 145, 105, 1) 0% 0% no-repeat padding-box;

    opacity: 1; 
}
/* Estilos para contedenor color */
.tercercuadro{
    width: 246px;
    height: 17px;
    background:rgba(55, 114, 255, 1) 0% 0% no-repeat padding-box;

    opacity: 1; 
}
/* Estilos para texto */
.finaltext{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    color: rgba(55, 114, 255, 1);
    opacity: 1;
}
/* Estilos para texto */
.subtitulo{
    width: 249px;
    height: 10px;
    text-align: left;
    font-family: 'Bold', sans-serif;
    letter-spacing: 0;
    font-size:16px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    opacity: 1;
}
/* Estilos para texto */
.subtitulo1{
    height: 0px;
    text-align: left;
    font-family: 'Bold', sans-serif;
    font-size:16px;
    letter-spacing: 0;
    color: rgba(11, 69, 127, 1);
    opacity: 1;
}
/* Estilos para texto */
.subtitulo2{
    height: 0px;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 0;
    color: rgba(11, 69, 127, 1);
    opacity: 1;
}
/* Estilos para texto */
.subtitulo3{
    height: 0px;
    top: 1116px;
    left: 564px;
    width: 238px;
    height: 19px;
    text-align: right;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 0;
    color: rgba(11, 69, 127, 1);
    opacity: 1;
}
/* Estilos para texto */
.texto {
    top: 1049px;
    left: 851px;
    width: 377px;
    height: 30px;
    color: rgba(11, 69, 127, 1);
    opacity: 1;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px
}
/* Estilos para texto */
.subtexto {
    color: rgba(11, 69, 127, 1);
    opacity: 1;
    letter-spacing: 0;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
}
/* Estilos para para redeondear el shadow */
.roundedCorner
{
  width:300px;height:460px;
  border: solid 1px rgb(30, 87, 241);
  background-color: #eed;
  box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  -moz-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  -webkit-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  -o-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  border-radius:8px;
}
/* Estilos para el boton */
.boton_personalizado{
    text-decoration: none;
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 400;
    font-size: 12px;
    color: rgba(55, 114, 255, 1);
    background-color:none;
    border-radius: 16px;
    border: 1px solid rgb(30, 87, 241);
  }

br{
    display: block;
    margin-top: 0.9em;
    margin-bottom: 0.9em;
    margin-left: 3em;
    margin-right: 0.5em;
    border-style: inset;
    border-width: 4px;
}

hr {
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    border-style: inset;
    border: solid 0.8px rgb(76, 128, 240);
  }

  .roundedCornerText
  {
    width:235px;height:190px;
    border: solid 0px rgb(30, 87, 241);
    background-color: rgb(194, 218, 253);
    box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
    -moz-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
    -o-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
    border-radius:8px;
  }
/* Estilo para text area */
input[type="text"], textarea {

  background-color : rgb(194, 218, 253);
  resize: none;
  font-family: 'Work Sans', sans-serif;
  font-size: 12px;

}
.contador { 
    float: right; 
    font-size: 8pt;
    color: rgba(11, 69, 127, 1);
}

.alert { 
    float: left; 
    font-size: 10pt;
    color: rgba(11, 69, 127, 1);
    display:table;
    margin-left: auto;
    margin-right: auto;
}
