<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="card  border-0">
        <h2 class="card-text" align="left" style="color:rgba(11, 69, 127, 1);" > &nbsp; &nbsp; &nbsp; &nbsp; Otros temas de tu interés</h2>
        <div class="card-body">
          <!-- dos columnas primera fila -->
          <div class="row">
                <div class="col-sm-6">
                <div class="shadow p-12 mb-12 bg-white roundedCorner">
                  <div class="card border-0">
                    <div class="card-body">
                            <div class="col-sm-4">
                                    <img  src="../../../../assets/images/image1.png">
                            </div>
                            <div class="col-sm-8">
                                    <h4 class="card-text" align="right" style="color:rgba(11, 69, 127, 1);" > Sabes que son los datos abiertos?</h4>
                                    <hr>
                                    <h6 class="card-text" align="right" style="color:rgba(11, 69, 127, 1);" > La información que producen las entidades públicas a tu alcance</h6>
                                    <hr>
                                    <a  style="color:rgba(55, 114, 255, 1);">  Me interesa! &nbsp;</a>
                                    <a href="http://localhost:4200/"><span class="glyphicon glyphicon-arrow-right" style="color:rgba(55, 114, 255, 1)"></span></a>
                                
                            </div>
                        

                    </div>
                  </div>
                </div>
                </div>
                <div class="col-sm-6 ">
                        <div class="shadow p-1 mb-6 bg-white roundedCorner">
                                <div class="card border-0">
                                <div class="card-body">
                                        <div class="col-sm-4">
                                                <img  src="../../../../assets/images/image2.png">
                                        </div>
                                        <div class="col-sm-8">
                                                <h4 class="card-text" align="right" style="color:rgba(11, 69, 127, 1);" > Conoce más sobre nuestro país</h4>
                                                <hr>
                                                <h6 class="card-text" align="right" style="color:rgba(11, 69, 127, 1);" > Colombia es hermosa, y queremos que conozcas más sobre ella</h6>
                                                <hr>
                                                <a  style="color:rgba(55, 114, 255, 1);">  Ir a Colombia.co&nbsp;</a>
                                                <a href="http://localhost:4200/"><span class="glyphicon glyphicon-arrow-right" style="color:rgba(55, 114, 255, 1)"></span></a>
                                            
                                        </div>
                                    
            
                                </div>
                              </div>
                            </div>
                </div>
              </div>
        <!-- dos columnas segunda fila -->
        <div class="row text-center d-flex justify-content-center pt-3 mb-2">
                <div class="col-sm-6 ">
                        <div class="shadow p-3 mb-5 bg-white roundedCorner">
                        <div class="card border-0">
                          <div class="card-body">
                                  <div class="col-sm-4">
                                          <img  src="../../../../assets/images/image3.png">
                                  </div>
                                  <div class="col-sm-8">
                                          <h4 class="card-text" align="right" style="color:rgba(11, 69, 127, 1);" > Este portal está pensado para ti</h4>
                                          <hr>
                                          <h6 class="card-text" align="right" style="color:rgba(11, 69, 127, 1);" > GOV.CO nace para facilitarle a los ciudadanos la interacción con el Estado</h6>
                                          <hr>
                                          <a  style="color:rgba(55, 114, 255, 1);">  Quiero saber como funciona &nbsp;</a>
                                          <a href="http://localhost:4200/"><span class="glyphicon glyphicon-arrow-right" style="color:rgba(55, 114, 255, 1)"></span></a>
                                      
                                  </div>
                              
      
                          </div>
                        </div>
                    </div>
                      </div>
                      <div class="col-sm-6">
                            <div class="shadow p-3 mb-5 bg-white roundedCorner">
                                    <div class="card border-0">
                                            
                                    <div class="card-body">
                                            
                                            <div class="col-sm-4">
                                                    <img  src="../../../../assets/images/image4.png">
                                            </div>
                                            <div class="col-sm-8">
                                                    <h4 class="card-text" align="right" style="color:rgba(11, 69, 127, 1);" > Destaca que esté en acondicionado</h4>
                                                    <hr>
                                                    <h6 class="card-text" align="right" style="color:rgba(11, 69, 127, 1);" > Texto descriptivo que capte la atención del lector</h6>
                                                    <hr>
                                                    <a  style="color:rgba(55, 114, 255, 1)">  Call to action &nbsp;</a>
                                                    <a href="http://localhost:4200/"><span class="glyphicon glyphicon-arrow-right" style="color:rgba(55, 114, 255, 1)"></span></a>
                                                
                                            </div>
                                          
                
                                    </div>
                                   
                                  </div>
                                  
                                </div>
                                
                    </div>
              </div>


        </div>
      </div>
      