hr {
    display: block;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 4em;
    margin-right: 4em;
    border-style: inset;
    border-width: 0px;
  }
  .roundedCorner
  {
    width:400px;height:160px;
    border: solid 0px #555;
    background-color: #eed;
    box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
    -moz-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
    -o-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
    border-radius:8px;
  }
  